* { box-sizing: border-box; }

.App { text-align: center; -webkit-transition: all .3s linear; transition: all .3s linear; }
#appid { margin-left: 0; -webkit-transition: all .3s linear; transition: all .3s linear; }
#appid.active {margin-left: 400px; -webkit-transition: all .3s linear; transition: all .3s linear; }
.App-logo { height: 20vmin; pointer-events: none; }
.App-header { font-size: calc(10px + 2vmin); color: white; padding: 30px 0 0; }
@keyframes App-logo-spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@media (prefers-reduced-motion: no-preference) { .App-logo { animation: App-logo-spin infinite 20s linear; } }
.wrapper { width: 800px; max-width: 100%; position: relative; margin: 0 auto; }

body { -webkit-transition: all .3s linear; transition: all .3s linear; background: #282c34; overflow-x: hidden; margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; }
h2 { color: #fff; margin: 15px 0 0; -webkit-transition: all .3s linear; transition: all .3s linear; }
img { width: 20vh; }
mark { background: transparent; color: #fff; }

header #button { position: absolute; right: 15px; top: 15px; padding: 10px 15px; border: 0; text-transform: uppercase; color: #fff; background: tomato; cursor: pointer; z-index: 2; -webkit-transition: all .3s linear; transition: all .3s linear;  }
header #button:hover { background: #777 }

main { color: white; display: flex; justify-content: center; }
main.active .covid_div { width: 100%; }
main.active .covid_div ul li { padding: 15px 0; font-size: 18px; }
main.active .covid_div ul li span { font-size: 14px; }

.form_div form { display: flex; justify-content: center; align-items: center; padding: 0 5px; }
.form_div form .searchbar { width: 75%; position: relative; }
.form_div form .searchbar .searchspan { opacity: 0; position: absolute; left: 0; right: 0; bottom: -40px; width: 100%; background: tomato; height: 40px; display: flex; justify-content: center; align-items: center; z-index: 1;  }
.form_div form .searchbar .searchspan.active, .form_div form .searchbar .searchspan.invalid { opacity: 1; }
.form_div form .searchbar .searchspan.success { background: orange }
.form_div form input { border: 2px solid transparent; padding: 13px; }
.form_div form input[type="text"] { width: 100%; }
.form_div form input[type="text"]:focus { background: #eee; color: #333; }
.form_div form input[type="submit"] { width: 25%; background: #777; color: #fff; text-transform: uppercase; }
.form_div form input[type="submit"]:hover { background: tomato;cursor: pointer; }

.covid_div { margin: 0 auto; display: flex; align-items: center; justify-content: center; max-width: 100%; padding-bottom: 10px }
.covid_div:hover li { opacity: 0.7; }
.covid_div ul { list-style: none; padding: 0; font-size: 22px; width: 100%; margin: 5px;  }
.covid_div ul li { width: 100%; padding: 50px 0; border: 1px solid transparent; color: #fff; font-weight: bold; }
.covid_div ul li:first-child { margin-bottom: 10px; }
.covid_div ul li:hover { opacity: 1; border: 1px solid #fff; }
.covid_div ul li span { display: block; font-weight: normal; font-size: 18px; text-transform: uppercase; }
.covid_div ul li small { display: block; font-weight: normal; opacity: 0.6; font-size: 16px; }
.covid_div ul:nth-child(1) li { background: #3399FF; }
.covid_div ul:nth-child(2) li { background: #07AF07; }
.covid_div ul:nth-child(3) li { background: #CC3333; }

.total_cases { font-size: 20px; letter-spacing: 1px; padding: 0 10px }
.total_cases span { display: block; font-size: 14px; font-style: italic; color: #888 }

.countryClass { text-transform: uppercase; font-weight: bold; display: block; font-size: 5vh; opacity: 0.5; margin-bottom: 10px }
.showerror { border: 2px solid tomato !important; }
.successBorder { border: 2px solid #fff !important; }

.copyright { font-size: 17px; color: #ccc; padding: 10px 10px 30px; border-top: 1px dotted #ccc; }
.copyright p { margin: 0; padding: 8px; }
.copyright p span { display: block; font-size: 14px; font-style: italic; color: #888 }
.copyright a { color: cyan; display: block; }
.copyright a:hover, .copyright a:active { color: teal; }

/* .map_con { position: relative; min-height: 300px; width: 99%; margin: 0 auto 10px; } */
.map_con { padding: 0 5px; margin: 0 auto; }
.map_con iframe { min-height: 350px; border:0; width: 100%; }

.chart_div { padding: 0 5px 20px; width: 500px; max-width: 100%; margin: 0 auto; }
.chart_div div { margin: 0 auto; }
.chart_div text { word-break: break-all; word-wrap: break-word;}
.chart_div svg > g:last-child { pointer-events: none }
p.chart_note { padding: 0 10px }
  
.global { margin-left: -400px; opacity: 0; position: fixed; top: 0; left: 0; text-align: left; padding: 0; width: 400px; max-width: 100%; overflow-y: scroll; /* scrollbar-color: #282C34 #19dcbc; */ border-right: 1px dotted #ccc; background: #282C34; z-index: 10; -webkit-transition: all .3s linear; transition: all .3s linear; }
.global::before { content: ''; position: fixed; bottom: 0; left: 0; right: 0; background: linear-gradient(to bottom, transparent, #1f1f1f); width: 400px; height: 35px; }
.global.active { opacity: 1; margin-left: -0; -webkit-transition: all .3s linear; transition: all .3s linear; }
.global ul { list-style: none; padding: 30px; margin: 0; height: 100vh; }
.global ul li { padding: 10px 0; }
.global ul span { display: block; font-weight: bold; }
.global ul small { display: flex; justify-content: space-between; padding-top: 10px; }
.global ul small q { quotes: none; }
.global small q:nth-child(1) { color: #85D7FF; }
.global small q:nth-child(2) { color: #FF4949; }
.global small q:nth-child(3) { color: #7F7; } 
.sidediv button { transform: none; z-index: 100; border: 0; background: transparent; font-size: 24px; position: fixed; top: 5px; left: -2px; color: #fff; cursor: pointer; -webkit-transition: all .3s linear; transition: all .3s linear; }
.sidediv button:hover { color: cyan; }
.sidediv button.active { transform: rotate(-225deg); left: 360px }

/* loader */
.loader_div { position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 999; background: #1f1f1f; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; -webkit-transition: all 1.7s linear; transition: all 1.7s linear; }
.loader_con { width: 200px; height: 200px; display: inline-block; overflow: hidden; background: #1f1f1f; }
.loader_box { width: 100%; height: 100%; position: relative; -webkit-transform: translateZ(0) scale(2); transform: translateZ(0) scale(2); -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; }
.loader_box div { position: absolute; width: 14px; height: 14px; background: #16b39c; -webkit-animation: loader_box 1s linear infinite; animation: loader_box 1s linear infinite; -webkit-box-sizing: content-box; box-sizing: content-box; }
@-webkit-keyframes loader_box { 0% { background: #fff } 12.5% { background: #fff } 12.625% { background: #16b39c } 100% { background: #16b39c } }
@keyframes loader_box { 0% { background: #fff } 12.5% { background: #fff } 12.625% { background: #16b39c } 100% { background: #16b39c } }

@media only screen and (max-width: 1024px) {
.global.active::before { width: 360px; }
.global.active { width: 360px; }
#appid.active { margin-left: 360px; }
.sidediv button.active { left: 310px }
main.active .chart_div { width: 400px }
}

@media only screen and (max-width: 850px) {
.App-header { padding: 20px 0 0; }
.form_div { width: 82.5%; max-width: 100%; margin: 0 auto; }
.form_div form input[type="submit"] { width: 30%; }
.covid_div { flex-direction: column; }
.covid_div ul { display: flex; justify-content: center; align-items: center; }
.covid_div ul li { width: 40%; margin: 0 5px; padding: 30px 0; }
.covid_div ul li:first-child { margin-bottom: 0; }
.covid_div ul li span { font-size: 16px; }
.copyright { padding-bottom: 40px; }
.map_con { width: 82.5%; }
#covid_id.active { padding: 0 3px 10px; }
#appid.active { margin-left: 170px; }
.global.active { width: 170px; }
.global.active::before { width: 170px; }
.sidediv button.active { left: 140px; }
.global ul { padding: 30px 10px; }
.global ul small { flex-direction: column; }
main.active .chart_div { width: 300px }
main.active .form_div { width: 85%; }
}
@media only screen and (max-width: 700px) {
.form_div form input[type="submit"] { width: 40%; }
}
@media only screen and (max-width: 600px) {
.App-header { padding: 20px 0 0; }
.form_div { width: 95.5%; }
.covid_div ul li { width: 46%; padding: 30px 0; }
.copyright p { font-size: 15px; }
.copyright a { display: block; font-size: 15px; }
.countryClass { font-size: 30px; word-wrap: break-word; padding: 0 10px; }
.map_con { width: 96%; }
#covid_id.active { padding: 0 3px 10px; }
main.active .chart_div { width: 250px }
main.active .form_div { width: 99%; }
}
@media only screen and (max-width: 500px) {
header #button { right: 15px; padding: 8px 12px; font-size: 11px }
main { flex-wrap: wrap; padding-bottom: 30px; }
main .wrapper:nth-child(2) { padding-top: 30px }
.covid_div { padding: 0 3px 10px; }
#appid.active img { width: 15vh }
#covid_id.active { padding: 0 5px 10px; }
#covid_id.active ul { flex-direction: column; margin: 0; }
#covid_id.active ul li { width: 100%; padding: 30px 0; margin: 3px; }
#covid_id.active ul li:first-child { margin-bottom: 4px; }
#form_id.active, #map_id.active { width: auto; }
#form_id.active form .searchbar .searchspan, #form_id form .searchbar .searchspan { font-size: 11px; }
.chart_div { height: 280px; width: 400px }
main.active .chart_div { height: 280px; width: 400px }
main.active .form_div { width: 95.5%; }
}
@media only screen and (max-width: 400px) {
.covid_div ul li span { font-size: 14px; }
.global.active::before { width: 130px; }
.global.active { width: 130px; }
#appid.active { margin-left: 130px; }
.sidediv button.active { left: 100px; }
}